name: Release (GitHub/PyPI) and Deploy Docs

on:
  workflow_dispatch:
  push:
    tags:
      - "*" # Trigger on all tags initially, but tag and release privilege are verified in _build-wheel-release-upload.yml

jobs:
  build-release:
    uses: ycexiao/release-scripts/.github/workflows/_build-wheel-release-upload.yml@v0
    with:
      project: diffpy.pdffit2
      c_extension: true
      maintainer_GITHUB_username: ycexiao
