name: Tests on PR

on:
  pull_request:
  workflow_dispatch:

jobs:
  tests-on-pr:
    uses: ycexiao/release-scripts/.github/workflows/_tests-on-pr.yml@rename-python-versions
    with:
      project: diffpy.pdffit2
      c_extension: true
      headless: false
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
